<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.practice.dao.UserDAO">

    <!-- 회원가입 -->
    <insert id="register" parameterType="com.study.practice.domain.User">
        INSERT INTO user(userID, userPass, userName)
        VALUES (#{userId}, #{userPass}, #{userName})
    </insert>

    <!-- 로그인 -->
    <select id="login" parameterType="com.study.practice.domain.User" resultType="com.study.practice.domain.User">
        SELECT *
        FROM user
        WHERE userID = #{userId}
          AND userPass = #{userPass}
    </select>

    <!-- 회원정보 수정 -->
    <update id="modify">
        UPDATE user
        SET userPass = #{userPass}
        WHERE userName = #{userName}
    </update>


    <!-- 회원 탈퇴 -->
    <delete id="withdrawal">
        DELETE FROM user
        WHERE userId = #{userId}
          AND userPass = #{userPass}
    </delete>

    <!-- 아이디 중복검사 -->
    <select id="idCheck" resultType="com.study.practice.domain.User">
        SELECT userId from user
        WHERE userId = #{userId}
    </select>
</mapper>
